<div class="container">
    <h4 class="head">WHAT CAN YOU DO?</h4>
    <div class="todo-container">
        <div class="header">
            <h5> Save <span class="red-text">{{span[0]}}</span> at Home</h5>
            <hr>
        </div>
        <div class="desc">
            <p>{{todolist[0]}}</p>
        </div>
    </div>
    <div class="todo-container">
        <div class="desc">
            <p>{{todolist[1]}}</p>
        </div>
        <div class="header">
            <h5>Modify the <span class="red-text">{{span[1]}}</span> Source in Your House</h5>
            <hr>
        </div>
    </div>
    <div class="todo-container">
        <div class="header">
            <h5><span class="red-text">{{span[2]}}</span> from Transportation</h5>
            <hr>
        </div>
        <div class="desc">
            <p>{{todolist[2]}}</p>
        </div>
    </div>
    <div class="todo-container">
        <div class="desc">
            <p>{{todolist[3]}}</p>
        </div>
        <div class="header">
            <h5><span class="red-text">{{span[3]}}</span> and Encourage Recycling</h5>
            <hr>
        </div>
    </div>
    <div class="todo-container">
        <div class="header">
            <h5>Keep Your Environment <span class="red-text">{{span[4]}}</span></h5>
            <hr>
        </div>
        <div class="desc">
            <p>{{todolist[4]}}</p>
        </div>
    </div>
    <div class="todo-container">
        <div class="desc">
            <p>{{todolist[5]}}</p>
        </div>
        <div class="header">
            <h5><span class="red-text">{{span[5]}}</span> for 
                Change</h5>
            <hr>
        </div>
    </div>
    <div class="todo-container">
        <div class="header">
            <h5><span class="red-text">{{span[6]}}</span> Food 
                Waste</h5>
            <hr>
        </div>
        <div class="desc">
            <p>{{todolist[6]}}</p>
        </div>
    </div>
    <div class="todo-container">
        <div class="desc">
            <p>{{todolist[7]}}</p>
        </div>
        <div class="header">
            <h5><span class="red-text">{{span[7]}}</span> Native Species</h5>
            <hr>
        </div>
    </div>
</div>