<section class="will-happen-section">
    <div class="will-happen-main-container">
        <div class="will-happen-container">
            <p>{{ will_happen_para[0] }}</p>
            <h2>WHAT ARE THE CAUSES OF <span class="highlight">CLIMATE CHANGE</span>?</h2>
        </div>
        <p>{{ will_happen_para[1] }}</p>
    </div>

    <div class="will-happen-list">
        <h2>WHAT WILL HAPPEN IF WE <span class="highlight">FAIL</span> TO MEET THE <span class="highlight">2030 CLIMATE CHANGE DEADLINE</span>?</h2>
        <div class="first-flex">
            <img src="assets/image1.png" alt="flex image">
            <div class="right-flex">
                <p>{{ will_happen_para[2] }}</p>
                <h3>{{ will_happen_header }}</h3>
                <li>{{ will_happen_list[0] }}</li>
                <li>{{ will_happen_list[1] }}</li>
                <li>{{ will_happen_list[2] }}</li>
            </div>
        </div>
    </div>
    <div class="second-flex">
        <div class="left-flex">
            <li>{{ will_happen_list[3] }}</li>
            <li>{{ will_happen_list[4] }}</li>
            <li>{{ will_happen_list[5] }}</li>
            <li>{{ will_happen_list[6] }}</li>
        </div>
        <div class="grid-imgaes">
            <img src="assets/image2.png" alt="">
            <img src="assets/image3.png" alt="">
        </div>
    </div>
</section>
