.will-happen-section{
    width: 90%;
    margin: var(---mid-tb-center-spacer);
}

.will-happen-section p{
    font-size: var(--medium-font-size);
    line-height: 1.5;
}

.will-happen-container{
    display: flex;
    gap: 5%;
    margin: var(--small-spacer-tb);
    
}

.will-happen-container h2{
    width: 100%;
    font-size: var(--big-font-size);
}


.will-happen-list{
    padding: var(--mid-spacer-tb);
}

.will-happen-list h2{
    font-size: var(--big-font-size);
    padding: var(--small-spacer-tb);
}

.first-flex{
    display: flex;
    gap: 5%;
}

.right-flex h3{
    padding: var(--small-spacer-tb);
    font-size: var(--big-font-size);
}

.left-flex{
    padding: var(--mid-spacer-tb);
}

.right-flex li, .left-flex li{
    font-size: var(--medium-font-size);
    line-height: 1.5;
}

.second-flex{
    display: flex;
    gap: 5%;
}


.grid-imgaes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}