<div class="container">
    <h4>OUR <span class="red-text">FUTURE</span></h4>
    <div class="future-img">
        <div class="img">
            <div class="layer1 layer">
                <h5>Good Future</h5>
            </div>
            <img src="assets/images/good-future.png" alt="good future">
        </div>
        <div class="img">
            <div class="layer">
                <h5>Bad Future</h5>
            </div>
            <img src="assets/images/bad-future.png" alt="bad future">
        </div>
    </div>
</div>