<section class="will-happen-section">
    <div class="will-happen-main-container">
        <div class="will-happen-container">
            <p>{{ will_happen_para[0] }}</p>
            <h2>WHAT ARE THE CAUSES OF <span class="highlight">CLIMATE CHANGE</span>?</h2>
        </div>
        <p>{{ will_happen_para[1] }}</p>
    </div>

    <div class="will-happen-list">
        <h2>WHAT WILL HAPPEN IF WE <span class="highlight">FAIL</span> TO MEET THE <span class="highlight">2030 CLIMATE CHANGE DEADLINE</span>?</h2>
        <div class="first-flex">
            <img src="" alt="flex image">
            <p>{{ will_happen_para[2] }}</p>
        </div>
    </div>
</section>
