.footer-section{
    background-image:var(--cont-color), url(../../../../public/assets/footer_img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--primary-font-color);
    height: 28vh;
    margin: var(--mid-spacer-tb);
}

.footer-section h6{
    width: 90%;
    margin: var(---big-tb-center-spacer);
    padding: var(--mid-spacer-tb);
    text-align: center;
    font-size: var(--big-font-size);
}

footer{
    text-align: center;
}

/* Apply */
.footer-section {
    animation: appearUp 2s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}