<section class="explanation-section">
    <div class="change-main-container">
        <div class="change-container">
            <h2>WHAT IS THE <span class="highlight">2030 CLIMATE CHANGE DEADLINE?</span></h2>
            <p>{{ explanations[0] }}</p>
        </div>
        <p>{{ explanations[1] }}</p>
    </div>

    <div class="climate-container">
        <p>{{ explanations[2] }}</p>
        <h2>WHAT IS <span class="highlight">WHAT IS CLIMATE PSYCHOLOGY</span></h2>
    </div>
    <div class="below">
        <p>{{ explanations[3] }}</p>
    </div>
</section>
<section class="image-container">
    <img src="assets/explnation.png" alt="Image Outro">
</section>